///////////////////////////////////
// Bootstrap
///////////////////////////////////
@import "./theme";

// Bootstrap - optional
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/progress";

// Bootstrap - elements
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/tooltip";

// @import "../node_modules/bootstrap/scss/tooltip"

@import "../components/Navbar.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*#region custom-colors*/
.bullseye-red {
  color: $bullseye-red-color;
}
/*#endregion custom-colors*/
.btn-bullseye {
  border-color: darken($bullseye-red-color, 5%);
  background-color: $bullseye-red-color;
  color: #fff;
}
.btn-bullseye:hover,
.btn-bullseye:hover a {
  background-color: darken($bullseye-red-color, 5%);
  color: #eee;
}

.btn-bullseye:hover svg {
  fill: #eee;
  color: #eee;
}

.border-bullseye {
  border-color: $bullseye-red-color;
}
.border-bullseye-solid {
  border-width: 1px;
  border-style: solid;
  border-color: $bullseye-red-color;
}

.border-grey-solid {
  border: 1px solid #aaa;
}

.bullseye-btn {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(90, 90, 90);
  color: rgb(90, 90, 90);
  padding: 1px 8px 2px 8px;
  width: max-content;
  border-radius: 5px;
  font-size: 0.85rem;
}

.bullseye-btn-danger {
  border-color: $bullseye-danger;
  color: $bullseye-danger;
}

.bullseye-btn-success {
  border-color: $bullseye-success;
  color: $bullseye-success;
}

.bullseye-danger {
  color: $bullseye-danger;
}
.bullseye-success {
  color: $bullseye-success;
}
.bullseye-warning {
  color: $bullseye-warning;
}

.bullseye-btn-outline {
  color: $bullseye-red-color;
  background-color: transparent;
}

svg {
  fill: $bullseye-red-color;
  color: $bullseye-red-color;
}

svg:hover {
  fill: darken($bullseye-red-color, 15%);
  color: darken($bullseye-red-color, 15%);
}
svg.nohover:hover {
  fill: $bullseye-red-color;
  color: $bullseye-red-color;
}

.btn-link {
  color: $bullseye-red-color;
}
.btn-link:hover {
  color: darken($bullseye-red-color, 15%);
}

.right-caret {
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: center;
}
.right-caret--close {
  background-image: url("../assets/images/arrow-down.png");
}
.right-caret--open {
  background-image: url("../assets/images/arrow-up.png");
}

.alert-sm {
  padding: 0.25rem 0.6rem;
  margin-bottom: 0.3rem;
}

.rounded-1 {
  border-radius: 0.5rem !important;
}

.h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.bl-text-bold-500 {
  font-weight: 500 !important;
}

/* This are boostrap overrides */
.navbar-light .navbar-toggler {
  border: 0;
  padding: 0.25rem 0.2rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

label {
  font-weight: 500;
}
.form-check-label {
  font-weight: 400;
}

/* END Boostrap overrides */

.chips {
  background-color: hsl(0, 0%, 90%);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  color: hsl(0, 0%, 20%);
  border-radius: 0.25rem;
  font-size: 85%;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  vertical-align: middle;
  margin: 0.25rem;
}

.bullseye-light-background {
  background-color: #f7f7f7;
}

.font-size-90 {
  font-size: 90%;
}
